{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        <title>LIBRARY</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu">{{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Login</a>
                <a href="{% url 'register' %}" class="top-menu">Register</a>
            {% endif %}
            <h1><a href="/">Local Library</a></h1>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>