h1  {
    color: rgb(241, 235, 235);
}
.page-header{
    background-color:grey;
}
body{
    background-color: lightgrey;
    padding-left: 40px;
    padding-right: 40px;

}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.top_menu {
    font-weight: bolder;
    color: white;
}