body{
    background-color: rgb(56, 81, 97);
    padding-left: 40px;
    padding-right: 40px;
    padding padding-top: 20px;
}

h1{
    font-family: 'Open Sans';
    font-size: xx-large;
    font-weight: bolder;
}
h2{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: small;
}