{% extends 'base.html' %}

{% block content %}
  <div class="profile-top">
    <div class="profile-name"><h2>{{ profile.user.first_name }}</h2></div>
    <div class="profile-picture"><img src="{{ profile.image.url }}" alt=""></div>
  </div>

  <div class="profile-bottom">
    <div class="profile-list">
      <div><p><i class=""></i>First name: {{ profile.user.first_name }}</p></div>
      <div><p><i class=""></i>Last name: {{ profile.user.last_name }}</p></div>
      <div><p><i class=""></i>Location: {{ user.location }}</p></div>
      <div><p><i class=""></i>email: {{ profile.user.email }}</p></div>
    </div>
  </div>
{% endblock %}