html, body {
  height: 100%;
  width: 100%;
}

#page-content {
  padding-top: 70px;
}

#text {
  float:left;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: 25px;
}

.text-container {
  display: flex;
  justify-content: center;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  width: 80%;
  align-content: center;
}

/* H tags begin */

h1 {
  text-align: center;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
}

h2 {
  height: 28.8px;
  color: rgb(255, 255, 255);
}

h3 {
  height: 28.8px
}

h4 {
  height: 28.8px;
  color: white;
}
/* H tags end */

#logo {
  color: #fff6f5;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: 15px;
  text-align: center;
  width: 500px;
  align-self: center;
  
}

/* Header begin */

.header {
  display: flexbox;
  flex-direction: row;
  height: 70px!important;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  z-index: 10;
  background-image: url("./images/texture.png");
  background-repeat: repeat-x;
  border-bottom: 2px solid #983222;
  transition: all 0.4s ease;
}

.header-button-box {
  padding-left: 10px;
  float: right;

}

#header-button {
  background-color: #983222 !important;
  border: #983222 !important;
}

.header-links {
  float: right;
}

.header-title {
  align-self: center;
}

/* Header end */

/* Footer begin */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 3px solid #983222;
  background-image: url("./images/texture.png");
  height: 300px;
  width: 100%;
}

.column-1 {
  flex-direction: column;
  height: 300px;
  width: 180px;
}

.column-2 {
  flex-direction: column;
  padding-right: 40px;
  height: 300px;
  width: 180px;
}

.column-3 {
  flex-direction: column;
  height: 300px;
  width: 180px;
}

.link-container-top {
  padding-top: 40px;
  height: 80px;
  width: 180px;
}

.link-container-bottom {
  padding-top: 40px;
  height: 80px;
  width: 180px;
}

.logo-nation {
  background-image: url("./images/Chick-Nation-Logo.png");
  background-repeat: no-repeat;
  display: block;
  height: 64px;
  opacity: 0.6;
  width: 147px;
}

.logo-tv {
  background-image: url("./images/Chick-Nation-Video-network-Logo.png");
  background-repeat: no-repeat;
  background-size: 170px 70px;
  display: block;
  height: 70px;
  opacity: 0.6;
  padding: 0;
  width: 180px;
}

.logo-cultural {
  background-image: url("./images/logo-transparent.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

.logo-film {
  background-image: url("./images/CNProductionsLogoWhite.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

.logo-cc {
  background-image: url("./images/CC-logo.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

.logo-travel {
  background-image: url("./images/ARTP-logo.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

/* Footer end */

/* sidebar beginning */
.sidebar {
  display: flex;
  margin-top: 72px;
  position: fixed;
  height: 280px;
  width: 100px;
  left: 0;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/bg-texture-trans.png");
  background-color: #fcedd8;
  color: white;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
  border-top: 3px solid #983222;
  border-bottom: 3px solid #983222;
  border-right: 3px solid #983222;
}

.sidebarIconToggle {
  position: fixed!important;
  z-index: 100;
}

#sidebarMenu {
  height: 160px;
  width: 80px;
  position: fixed;
  user-select: none;
  left: 0;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.sidebarMenuInner li:hover{
  background: rgba(0, 0, 0, 0.10);
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.side-container {
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 160;
  transform: translateX(-80px);
  transition: transform 250ms ease-in-out;
  overflow: hidden;
}

#side-button {
  background-color: #983222 !important;
  border: #983222 !important;
  width: 100px;
  text-align: center;
}

.side-menu-item {
  justify-content: center;
  padding-bottom: 10px;
}

.menu-button-box {
  width: 60px;
  height: 28px;
}

#menu {
  width: 60px;
  height: 28.8px;
  background-color: #983222 !important;
  border: #6e2419 !important;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* sidebar end */

/* Main page begin */

.intro {
  color: #fff6f5;
  display: flex;
  width: 50%;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.welcome {
  color: white;
  text-align: center;
  align-content: center;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: xx-large !important;
  font-weight: bolder;
}


.parallax-container-1 {
  background-image: url("./images/minko.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.parallax-container-2 {
  background-image: url("./images/traditionalvillage.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container-3 {
  background-image: url("./images/stomp-dance.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-container {
  padding: 50px 80px;
  height: 200px;
  background-image: url("./images/texture.png");
  background-repeat: repeat-y repeat-x;
  border-top: 2px solid #983222;
  border-bottom: 2px solid #983222;
  justify-content: center;
  align-items: center;
}

.scrolling-container-2 {
  padding: 50px 80px;
  height: 600px;
  background-image: url("./images/texture.png");
  background-repeat: repeat-y repeat-x;
  border-top: 2px solid #983222;
  border-bottom: 2px solid #983222;
  justify-content: center;
  align-items: center;
}

/* Main page end */

/* Registration page begin */

.registration-page {
  background-image: url('./images/stomp-dance2.jpg');
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.registration-form {
  border: #983222;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('./images/bg-texture-trans.png');
  background-color: #fcedd8;
  width: 200px;
  height: 400px;
}

.reg-container {
  display: flex;
  justify-content: center;
}

/* Registration page end */

/* Mail beging */

.mail-base {
  height: 100%;
  width: 100%;

}

.mail-menu {
  width: 150px;
  height: 100%;
  background-image: url("./images/bg-texture-trans.png");
  background-color: #fcedd8;
}

.pm_message.pm_deleted {
  text-decoration: line-through;
 }
 .pm_message.pm_deleted .pm_body{
  display: none;
 }
 .pm_message.pm_archived {
  font-style: italic;
  color: grey;
 }
 .pm_message.pm_unread .pm_subject {
  font-weight: bolder;
 }
 .pm_message.pm_pending .pm_header {
  background-color: #FFC;
 }
 .pm_message.pm_rejected .pm_header {
  background-color: #FDD;
 }

/* Mail end */

/* Profile begin */

.profile-top {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: rgb(184, 184, 184);
}

.profile-bottom {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: rgb(165, 165, 165);
}

.profile-list {
  flex-direction: column;
  align-self: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.profile-name {
  height: 40px;
}


img {
  width: 100px;
  height: 100px;
}

/* Profile end */

/* Archive begin */

.archive-main {
  height: 800px;
}

/* Archive end */
