html, body {
  height: 100%;
  width: 100%;
}

h1 {
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  color: black;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
}

h2 {
  height: 28.8px;
  align-self: flex-start;
}

h3 {
  height: 28.8px;
  align-self: flex-end;
}

#logo {
  color: #fff6f5;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: 15px;
  text-align: center;
  width: 500px;
  align-self: center;
  
}

.header {
  display: flex;
  height: 70px;
  background-image: url("./images/texture.png");
  background-repeat: repeat-x;
  border-bottom: 2px solid #983222;
  width: 100%;
  align-items: center;
}

#page-content {
  padding-top: 70px;
}

#sticky {
  position: fixed;
  transition: all 0.4s ease;
}

.intro {
  color: #fff6f5;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  display: flex;
  width: 50%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

#left-button-1 {
  margin-left: 5px;
  padding-left: 10px;
}

#left-button-2 {
  margin-left: 5px;
  padding-left: 10px;
}

#right-button-1 {
  margin-right: 5px;
  padding-right: 10px;
}

#right-button-2 {
  margin-right: 5px;
  padding-right: 10px;
}

#right-button-3 {
  margin-right: 5px;
  padding-right: 10px;
}

#right-button-4 {
  margin-right: 5px;
  padding-right: 10px;
}

.parallax-container-1 {
  background-image: url("./images/minko.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.parallax-container-2 {
  background-image: url("./images/traditionalvillage.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container-3 {
  background-image: url("./images/stomp-dance.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-container {
  padding: 50px 80px;
  height: 200px;
  background-image: url("./images/texture.png");
  background-repeat: repeat-y repeat-x;
  border-top: 2px solid #983222;
  border-bottom: 2px solid #983222;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  justify-content: center;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  width: 80%;
  align-content: center;
}

.btn-primary {
  background-color: #983222 !important;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  border: #983222 !important;
  align-items: flex-start !important;
}

.welcome {
  color: white;
  text-align: center;
  align-content: center;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: xx-large !important;
  font-weight: bolder;
}

#text {
  float:left;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: 25px;
}

.sidebar {
  margin-top: 10%;
  position: fixed;
  height: 400px;
  width: 100px;
  right: 0;
  z-index: 10;
  background-image: url("./images/bg-texture-trans.png");
  background-color: #fcedd8;
  color: white;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
}

.sidebar a {

}

.sidebar a:hover {

}


.registration-page {
  background-image: url('./images/stomp-dance2.jpg');
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.registration-form {
  border: #983222;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('./images/bg-texture-trans.png');
  background-color: #fcedd8;
  width: 600px;
  height: 400px;
}

.reg-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("./images/texture.png");
  height: 300px;
  width: 100%;
}

.column-1 {
  flex-direction: column;
  height: 300px;
  width: 180px;
}

.column-2 {
  flex-direction: column;
  padding-right: 40px;
  height: 300px;
  width: 180px;
}

.column-3 {
  flex-direction: column;
  height: 300px;
  width: 180px;
}

.link-container-top {
  padding-top: 40px;
  height: 80px;
  width: 180px;
}

.link-container-bottom {
  padding-top: 40px;
  height: 80px;
  width: 180px;
}

.logo-nation {
  background-image: url("./images/Chick-Nation-Logo.png");
  background-repeat: no-repeat;
  display: block;
  height: 64px;
  opacity: 0.6;
  width: 147px;
}

.logo-tv {
  background-image: url("./images/Chick-Nation-Video-network-Logo.png");
  background-repeat: no-repeat;
  background-size: 170px 70px;
  display: block;
  height: 70px;
  opacity: 0.6;
  padding: 0;
  width: 180px;
}

.logo-cultural {
  background-image: url("./images/logo-transparent.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

.logo-film {
  background-image: url("./images/CNProductionsLogoWhite.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

.logo-cc {
  background-image: url("./images/CC-logo.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

.logo-travel {
  background-image: url("./images/ARTP-logo.png");
  background-repeat: no-repeat;
  background-size: 147px 80px;
  display: block;
  height: 110px;
  margin-right: 60px;
  opacity: 0.6;
  width: 160px;
}

/*         {% if user.is_authenticated %}
            {% block postman_menu %}{% endblock %}
        {% endif %} */
