html, body {
  height: 100%;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  color: black;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
}

#logo {
  color: #fff6f5;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
}

#header {
  background-image: url("./images/texture.png");
  background-repeat: repeat-x;
  border-bottom: 2px solid #983222;
  font-size: 15px;
  height: 70px;
  width: 100%;
}

#page-content {
  padding-top: 70px;
}

.sticky {
  position: fixed;
  transition: all 0.4s ease;
}

.intro {
  color: #fff6f5;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  display: flex;
  width: 50%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.footer {

}

#left-button {
  float: left;
  margin-left: 5px;
  padding-left: 10px;

}

#right-button {
  float: right;
  margin-right: 5px;
  padding-right: 10px;
}

.parallax-container-1 {
  background-image: url("./images/minko.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.parallax-container-2 {
  background-image: url("./images/traditionalvillage.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container-3 {
  background-image: url("./images/stomp-dance.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-container {
  padding: 50px 80px;
  height: 200px;
  background-image: url("./images/texture.png");
  background-repeat: repeat-y repeat-x;
  border-top: 2px solid #983222;
  border-bottom: 2px solid #983222;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  justify-content: center;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  width: 80%;
  align-content: center;
}

.btn-primary {
  background-color: #983222 !important;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  border: #983222 !important;
  align-items: flex-start !important;
}

.welcome {
  color: white;
  text-align: center;
  align-content: center;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: xx-large !important;
  font-weight: bolder;
}

#text {
  float:left;
  font-family: 'adobe-garamond-pro','eb_garamondregular',serif;
  font-size: 25px;
}

#sidenav {
  margin-top: 10%;
  position: fixed;
  height: 400px;
  width: 100px;
  right: 0;
  z-index: 10;
  background-image: url("./images/bg-texture-trans.png");
  background-color: #fcedd8;
  color: white;
}

.registration-page {
  background-image: url('./images/stomp-dance2.jpg');
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.registration-form {
  border: #983222;
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('./images/bg-texture-trans.png');
  background-color: #fcedd8;
  width: 600px;
  height: 400px;
}

.reg-container {
  display: flex;
  justify-content: center;
}
