.container-1 {
    border-radius: 10;
    border-color: #ecceb2;
    background-color: rgb(228, 206, 177);
    height: 200px;
    margin: auto;
}
.container-2 {
    justify-content: center;
    background-color: rgb(228, 206, 177);
    height: 75px;
}
.container-3 {
    border-color: rgb(36, 36, 36);
    border-top: rgb(36, 36, 36);
    border-bottom: rgb(36, 36, 36);
    border-left: rgb(36, 36, 36);
    border-right: rgb(36, 36, 36);
    flex-direction: initial;
    border-radius: 10;
    height: 200px;
    width: 600px;
}
img.floatRight {
    float: right;
    margin: 10px;
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    
}
img.floatLeft {
    float: left;
    margin: 10px;
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 300px;
}
header {
    font-weight: bolder;
    font: serif;
    font-size: xx-large;
    text-align: center;
}
p {
    padding-top: 50;
}