.container-1 {
    border-radius :10;
    border-color: #bb7f46;
    justify-content: center;
    text-align: center;
    text
    background-color: rgb(216, 177, 127);
    background-image: url("BH-background.jpg");
}
.cointainer-2 {



}