{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/todo.css' %}">
        <title>TODO LIST</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu">{{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                /br
                /br 
                <a href="{% url 'task_new' %}" class="top-menu"><span>Add New Task</span></a>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu new-task">Login <span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">To Do List</a></h1>
        </div>
        <div class="content-container">
            <div class="row">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>