{% extends 'todoapp/base.html' %}

{% block content %}
    <div class="post">
        {% if task.posted_date %}
            <div class="date">
                {{ task.posted_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}    
            <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ task.task_title }}</h2>
        <p>{{ task.task_text|linebreaksbr }}</p>
        <p>Completed date: {{ task.completed_date }}</p>
        {% if user.is_authenticated %}
        <form action="http://127.0.0.1:8000/task/checkbox/{{ task.id }}/" method="POST"> 
            {% csrf_token %}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="status" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Check if Task is Complete</label>
                <button type="submit" class="save btn btn-default">Save</button>
            </div>

        </form>
        {% endif %}
    
    </div>
{% endblock %}