body{
    background-color: rgb(36, 36, 36);
}
.topnav {
  background-color: rgb(44, 40, 40);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: rgb(223, 217, 217);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(223, 217, 217);
  color: black;
}
.topnav a.active {
  background-color: rgb(243, 224, 140);
  color: white;
}
#container-1 {
    border-radius: 10;
    border-color: #ecceb2;
    background-color: rgb(180, 154, 120);
    height: 200px;
    margin: auto;
}
#container-2 {
    justify-content: center;
    background-color: rgb(228, 206, 177);
    height: 75px;
}
#container-3 {
    background-color: rgb(180, 154, 120);
    flex-direction: column;
    height: 800px;
    width: 600px;
}
#text-area {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font: serif;
    font-weight: 600;
    background-color: rgb(224, 210, 189);
}
img.floatRight {
    float: right;
    margin: 10px;
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}
img.floatLeft {
    float: left;
    margin: 10px;
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}
h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 300px;
}
header {
    font-weight: bolder;
    font: serif;
    font-size: xx-large;
    text-align: center;
}
p {
    padding-top: 50;
}
