[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-machina = "*"
whoosh = "==2.7.4"
six = "*"
django-postman = "*"

[requires]
python_version = "3.8"
