{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>PONANNANOLI</title>
</head>
<body>
    <header class="header" id="sticky">
        <h1>Ponannanoli' - Our Stories</h1>
        
        <h2><small><a href="{% url 'home' %}" id="left-button-1" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Home</a></small></h2>     
        {% if user.is_authenticated %}
            <h3><small><a href="{% url 'logout' %}" id="right-button-1" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Log out</a></small></h3>
            <h2><small><a href="{% url 'messages' %}" id="left-button-2" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Message Inbox</a></small></h2>     
            <h2><small><a href="{% url 'profile' %}" id="right-button-2" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Profile</a></small></h2>
            {% if User_flag == Staff %}
                <div class='staff-page'>
                    <h3><small><a href="{% url 'staff_page' %}" id="right-button" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Staff Page</a></small></h3>

                </div>
            {% endif %}
        {% else %}
            <h3 class="login" id='right-button-3'><small><a href="{% url 'login' %}" id="login" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Login</a></small></h2>
            <h3 class="register" id='right-button-4'><small><a href="{% url 'registration' %}" id="register" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Register</a></small></h2>
        {% endif %}
    </header>
    <div id="mainSidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
        <div>
            <div class="menu-item nav01"><a href="{% url 'forum' %}" id="forum-button" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Forums</a></div>
            <div class="menu-item nav02">Archive Placeholder</div>
            <div class="menu-item nav03">Memorial Placeholder</div>
        </div>
        <div id="navbtn">
            <button type="button" class="btn btn-primary" onclick="openNav()">Menu</button>
        </div>
    </div>
    <div id='page-content'>
        {% if user.is_authenticated %}
            {% block postman_menu %}{% endblock %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="column-1">
            <div class="link-container-top"><a class="logo-nation" href="https://chickasaw.net/" target="_blank"></a></div>
            <div class="link-container-bottom"><a class="logo-cultural" href="https://chickasawculturalcenter.com/" target="_blank"></a></div>
        </div>
        <div class="column-2">       
            <div class="link-container-top"><a class="logo-tv" href="https://chickasaw.tv/" target="blank"></a></div>
            <div class="link-container-bottom"><a class="logo-cc" href="https://chickasawcountry.com/" target="blank"></a></div>
        </div>
        <div class="column-3">
            <div class="link-container-top"><a class="logo-film" href="https://chickasawfilms.com" target="blank"></a></div>
            <div class="link-container-bottom"><a class="logo-travel" href="https://aventureroad.com" target="blank"></a></div>
        </div>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
         function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src=""></script>
</body>
</html>

