{% extends 'base.html' %}

{% block content %}
<div class="parallax-container-1">
    <div class="intro">
        <h2 id="welcome">Chokma, welcome.</h2>
    </div>            
</div>
<div class="scrolling-container">
        <h2 class="text-container" id="text">Ponannanoli', "Our stories", is a place for all of use to share the stories, history, and information that has been passed down through our families. A place for us to keep these stories alive so they can be shared and passed on.</h2>
</div>
<div class="parallax-container-2">

</div>
<div class="scrolling-container">

</div>
<div class="parallax-container-3">

</div>
{% endblock %}
