h1 a, h2 a {
    color: rgb(68, 41, 22);
}
body {
    padding-left: 15px;
    padding-right: 15px;
    background-color: burlywood;
}
.page-header {
    background-color: rgb(68, 41, 22);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 48pt;
    font-weight: 900;
    text-decoration: none;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans';
    font-weight: bold;
}

.date {
    color: #032205;
}

.save {
    float: right;
}

.task-form textarea, .task-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 10px;
    align-self: flex-end;
    
}

.task {
    margin-bottom: 70px;
    justify-content: center;
}

.task h2 a, .task h2 a:visited {
    color: #000000;
}